<!DOCTYPE html>
<html lang="en">
  <!--prettier-ignore-->
  <%- include('partials/head.ejs', { 
      title: 'High Georgia Welding', 
      description: 'High Georgia Welding was founded with a passion for precision and a commitment to excellence. Over the years, we have grown into a trusted name in the welding industry, known for our quality workmanship and customer-centric approach.', 
      cssPath: './styles.css' 
  }) %>
  <body>
    <!--prettier-ignore-->
    <%- include('partials/nav.ejs') %>

    <main>
      <section
        id="contact"
        class="content-container glassmorphism"
      >
        <h1 class="content-container__title">Contact Us</h1>
        <p class="contact__intro">
          Do <strong>YOU</strong> have a <strong>job</strong> we can assist you
          with? Contact us today. We'd love to hear from you!
        </p>
        <p class="contact__subheader">
          Leave your information below and we will contact you within 24 hours!
        </p>
        <form
          id="contactForm"
          class="contact__form"
        >
          <div class="form__group">
            <label
              for="name"
              class="form__label"
              >Name:</label
            >
            <input
              type="text"
              id="name"
              name="name"
              class="form__input"
              required
              minlength="2"
              maxlength="50"
            />
            <span
              class="error-message"
              id="nameError"
            ></span>
          </div>

          <div class="form__group">
            <label
              for="email"
              class="form__label"
              >Email:</label
            >
            <input
              type="email"
              id="email"
              name="email"
              class="form__input"
              required
              pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
            />
            <span
              class="error-message"
              id="emailError"
            ></span>
          </div>

          <div class="form__group">
            <label
              for="phone"
              class="form__label"
              >Phone:</label
            >
            <input
              type="tel"
              id="phone"
              name="phone"
              class="form__input"
              required
              pattern="(\+?1-?)?(\([0-9]{3}\)|[0-9]{3})[-.]?[0-9]{3}[-.]?[0-9]{4}"
            />
            <span
              class="error-message"
              id="phoneError"
            ></span>
          </div>

          <div class="form__group">
            <label
              for="message"
              class="form__label"
              >Message:</label
            >
            <textarea
              id="message"
              name="message"
              class="form__input form__textarea"
              required
              minlength="10"
              maxlength="1000"
            ></textarea>
            <span
              class="error-message"
              id="messageError"
            ></span>
          </div>

          <button
            type="submit"
            class="btn contact__submit"
          >
            Submit
          </button>
        </form>
      </section>
    </main>

    <footer class="footer">
      <p>&copy; 2023 High Georgia Welding. All rights reserved.</p>
    </footer>

    <script src="scripts.js"></script>
  </body>
</html>
